.App {
  width: 40%;
  height: 30vh;
  background-color: #ffffff;
  box-shadow: 0 0 10px rgb(139, 139, 139);
  margin: 50px auto;
  text-align: center;
}

.btn {
  padding: 1rem;
  margin-left: 5px;
  background-color: rgb(78, 120, 106);
  color: rgb(255, 255, 255);
  border: none;
}